name: Check_rust

on:
  push:
    branches: [ "master" ]
    paths:
      - '**.rs'
  pull_request:
    branches: [ "master" ]
    paths:
      - '**.rs'
      
env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: json_adder


    steps:
    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.5
    - uses: actions/checkout@v4
    - name: Check code
      run: cargo check
    - name: Run tests
      run: cargo test
    - name: Run sccache stat for check
      shell: bash
      run: ${SCCACHE_PATH} --show-stats
